name: Build & Deploy Android Production to Google Play store

on:
  workflow_dispatch:
permissions:
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: JSON to variables
        uses: antifree/json-to-variables@v1.2.0
        with:
          filename: 'config/release_version.json'

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.9'
          channel: 'stable'
          cache: true

      - name: Install dependencies
        run: flutter pub get

      - name: Configure Keystore
        run: |
          echo "$PLAY_STORE_UPLOAD_KEY" | base64 --decode > app/upload-keystore.jks
          echo "storeFile=upload-keystore.jks" >> key.properties
          echo "keyAlias=$KEYSTORE_KEY_ALIAS" >> key.properties
          echo "storePassword=$KEYSTORE_STORE_PASSWORD" >> key.properties
          echo "keyPassword=$KEYSTORE_KEY_PASSWORD" >> key.properties
        env:
          PLAY_STORE_UPLOAD_KEY: ${{ secrets.KEYSTORE }}
          KEYSTORE_KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEYSTORE_KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
          KEYSTORE_STORE_PASSWORD: ${{ secrets.KEY_STORE_PASSWORD }}
        working-directory: android

      - name: Config demo user info
        run: |
          echo "demoServerUrl=$DEMO_SERVER_URL" >> assets/env/.env_demo
          echo "demoUserName=$DEMO_USER_NAME" >> assets/env/.env_demo
          echo "demoPassword=$DEMO_PASSWORD" >> assets/env/.env_demo
        env:
          DEMO_SERVER_URL: ${{ secrets.KEY_DEMO_SERVER_URL }}
          DEMO_USER_NAME: ${{ secrets.KEY_DEMO_USER_NAME }}
          DEMO_PASSWORD: ${{ secrets.KEY_DEMO_PASSWORD }}

      - name: Build APK and generate native debug symbols
        run: flutter build apk --flavor prod --target lib/main.dart --build-name ${{ env.VersionName }} --build-number ${{ github.run_number }}

      - name: Build app bundle
        run: flutter build appbundle --flavor prod --target lib/main.dart --build-name ${{ env.VersionName }} --build-number ${{ github.run_number }}

      - name: Archive APK
        uses: actions/upload-artifact@v4.3.3
        with:
          name: app-prod-${{ env.VersionName }}+${{ github.run_number }}.apk
          path: build/app/outputs/flutter-apk/app-prod-release.apk

      - name: Upload to Play Store (Internal Testing)
        uses: r0adkll/upload-google-play@v1.1.3
        with:
          serviceAccountJsonPlainText: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_JSON }}
          packageName: com.axonivy
          releaseFiles: build/app/outputs/bundle/prodRelease/app-prod-release.aab
          mappingFile: build/app/outputs/mapping/prodRelease/mapping.txt
          debugSymbols: build/app/outputs/native-debug-symbols/prodRelease/native-debug-symbols.zip
          track: internal
          changesNotSentForReview: true
